@font-face {
  font-family: 'CircularAirBook';
  src:  url('./Circular/Circular_Air-Book.ttf') format('truetype'),
        url('./Circular/Circular_Air-Book.woff') format('woff');
}
@font-face {
  font-family: 'CircularAirBold';
  src:  url('./Circular/Circular_Air-Bold.woff') format('woff'),
        url('./Circular/Circular_Air-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'CircularAirLight';
  src:  url('./Circular/Circular_Air-Light.woff') format('woff'),
        url('./Circular/Circular_Air-Light.ttf') format('truetype');     
}




body {
  
  margin: 0;
  padding: 0;
  font-family: 'CircularAirBook', Arial, sans-serif;
}


